@use '../../styles/helpers/helpers' as *;

.comment {
    @include boxShadowBlack(1rem, 3rem, 0.2);
    padding: 1rem 2rem;
    background: white;
    position: relative;

    .userName {
      font-size: size('smallSize');
    }

    .postText {
      font-size: size('smallSize');
      margin: 0;
      margin-top: 0.8rem;
    }

    .deleteCommentBtn {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
    }
  }